<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/board.css">
	<title>Sinatra Mastermind</title>
</head>
<body>
	<h1>Sinatra Mastermind </h1>
	<div class = "board-container">
		<div class = "peg" id = "A1">A1</div>
		<div class = "peg" id = "A2">A2</div>
		<div class = "peg" id = "A3">A3</div>
		<div class = "peg" id = "A1">A4</div>
		<div class = "peg" id = "A2">B1</div>
		<div class = "peg" id = "A3">B2</div>
	</div>
</body>
</html>
