<!DOCTYPE html>
<html>
<head>
	<title>Sinatra Mastermind</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/board.css">
</head>
<body>
<div class = "page-container">
	<div class ="header"><h1>Sinatra Mastermind</h1></div>
	<div class = "intro">
		<a href="./player">Player Plays</a>
		<a href="./ai">Ai Plays</a>
	</div>
	<div class = "footer"></div>
</div>

</body>
</html>