/* RESETS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ELEMENTS */

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: none;
}

#page-container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 80px auto 50px;
	grid-template-columns: 10% 40% 40% 10%;
	grid-template-areas: 	"header header header header"
												"left board-container input-container right"
												"footer footer footer footer"
}

	.header{
		grid-area: header;
		padding-top: 20px;
		width: 100%;
		text-align: center;
		background-color: blue;
	}

/* MASTERMIN BOARD */

	.board-container{
		grid-area: board-container;
		justify-self: center;
		align-self: center;
		display: grid;
		grid-template-columns: auto auto;
		width: 250px;
		border:1px solid black;
		border-radius: 10px;
		overflow: hidden;

	}
		.guess-container{
			display: grid;
			grid-template-columns: auto auto auto auto;
			width: 200px;
			height: 600px;
			display: grid;
			background-color: pink;
		}

			.guess-peg{
				height: 40%;
				width: 40%;
				border-radius: 100%;
				background-color: red;
				align-self: center;
				justify-self: center;
				text-align: center; 
			}

		.cor-guess-container{
			display: grid;
			grid-template-columns: auto auto;
			width: 50px;
			height: 600px;
			display: grid;
			background-color: green;
		}

			.cor-guess-peg{
				height: 40%;
				width: 40%;
				border-radius: 100%;
				background-color: red;
				align-self: center;
				justify-self: center;
				text-align: center; 
			}

/* INPUTS */
	.input-container{
		grid-area: input-container;
		background-color: purple;
	}

	form{
		width: 400px;
		margin: 0 auto;
	}

	.select{
		display: inline-block;
		text-align: center;
		margin: 50px 10px;
	}

	.select label {
		display: block;
	}

	.submit-holder {
		margin: 0 auto;
		text-align: center;
	}

		.footer{
			grid-area: footer;
			background-color: red;
		}

